{% extends "layout.html" %}
{% load static %}

{% block NavName %}
<a href="{%url 'login'%}">Login</a>
{% endblock %}

{% block NavManu %}
        <a href="{%url 'LandingPage'%}" class="block py-2 px-4 rounded hover:bg-gray-700 transition">Home</a>
        <a href="{%url 'register'%}" class="block py-2 px-4 rounded hover:bg-gray-700 transition">Register</a>
        <a href="{%url 'AboutUs'%}" class="block py-2 px-4 rounded hover:bg-gray-700 transition">About us</a>
        <a href="{%url 'ContactUs'%}" class="block py-2 px-4 rounded hover:bg-gray-700 transition">Contact us</a>
        <a href="{%url 'dev'%}" class="block py-2 px-4 rounded hover:bg-gray-700 transition">Dev's</a>
{% endblock %}

{% block content %}
  <section class="w-full max-w-md bg-white rounded-2xl shadow-lg p-8 space-y-8 mx-auto mt-8 pb-16 ">
    <h2 class="text-3xl font-bold text-center text-gray-800">Welcome Back</h2>
    <p class="text-sm text-gray-500 text-center">Login to your AgroSmart account</p>
    <form method="POST" class="space-y-5">
      {% csrf_token %}
      <div>
        <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
        <input type="text" name="username" id="username" required class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent">
      </div>
      <div>
        <label for="Email" class="block text-sm font-medium text-gray-700">Email</label>
        <input type="Email" name="Email" id="Email" required class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent">
      </div>
      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
        <input type="password" name="password" id="password" required class="mt-1 w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent">
      </div>
      <button type="submit" class="w-full bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 rounded-lg transition"> Sign In </button>
    </form>
    <p class="text-xl text-center text-gray-500">Don't have an account?
      <a href="{% url 'register' %}" class="text-blue-600 hover:underline">Register</a>
    </p>
  </section>
  {% endblock %}
</body>
</html>
